<h1>Bienvenue moussaillon·ne !</h1>
<p>Votre demande d'inscription à la newsletter The Hakcing Project Bordeaux a bien été prise en compte.<p>
<p>Pour confirmer votre souscription veuillez cliquer sur le lien ci-dessous.<p>
<p><%= link_to "VALIDER CETTE ADRESSE", confirmation_url(@user.confirmation_hash) %> ou le copier dans votre navigateur : https://bdx-landingpages.herokuapp.com/confirm/<%= @user.confirmation_hash %></p>
