
<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">THE HACKING PROJECT</span>
  <span class="site-heading-lower">First Free Coding School</span>
</h1>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">Deviens développeur facilement!</span>
              </h2>
            </div>
          </div>
          <%= image_tag ('http://siliconprairienews.com/wp-content/uploads/2016/01/OmahaCodeSchool_featured.jpg'),class:"product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">The Hacking Project est une jeune pousse qui souhaite apporter à tous les compétences necessaires pour le monde de demain. Nos formations se déroulent du lundi au vendredi de 9h à 20h pendant 2 mois 1/2. Chez nous, pas de professeurs, pas de locaux.</div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Ruby on Rails &amp; JS &amp; ...</span>
              </h2>
            </div>
          </div>
          <%= image_tag ('https://d1o50x50snmhul.cloudfront.net/wp-content/uploads/2017/02/22180000/ff3ywn-1-800x533.jpg'),class:"product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Tu apprendras à utiliser tous les outils du web développeur les plus hype du moment : Ruby, Ruby On Rails, Javascript, et tous les outils associés ...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Partout dans le monde</span>
                <span class="section-heading-lower">Apprends le code!</span>
              </h2>
            </div>
          </div>
          <%= image_tag ('http://siliconprairienews.com/wp-content/uploads/2016/01/OmahaCodeSchool_featured.jpg'),class:"product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">The Hacking Project profite de son format de peer-learning pour proposer une formation accessible partout dans le monde, sans besoin de locaux. Vous travaillerez avec un groupe que vous retrouverez physiquement tous les matins et le groupe choisira d'où ses membres vont travailler. Quoiqu'il arrive inscrivez-vous sur notre site en renseignant votre code postal. Cela nous permet de savoir où se trouvent les futurs moussaillons pour organiser des présentations dans votre ville 😃. Nous sommes à Flers, une ville de 20 000 habitants donc pas de barrières mentales à avoir sur la ruralité.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>





    <!-- Call to Action -->
<section class="page-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="firstname" class="form-control form-control-lg" placeholder="Enter your firstname...">
            </div>
            <div class="col-12 col-md-3">
            </div>
          </div>
          <br/>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="lastname" class="form-control form-control-lg" placeholder="Enter your lastname...">
            </div>
            <div class="col-12 col-md-3">
            </div>
          </div>
          <br/>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
          </div>
          <br/>
          <div class="form-row">
            <div class="col-12 col-md-9">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
