<div class="container container-bot">
  <h1>The Hacking Project</h1>
  <h4><i>En quelques lignes ...</i></h4>
    <ul class="timeline">

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Qu'est-ce que le peer-learning ?</summary>
            <p>Selon les psychologues Angela M. O'Donnell et Alison King, “le peer learning est un outil éducationnel dans lequel les étudiants interagissent entre eux afin d’atteindre leurs objectifs pédagogiques”.En gros, le peer learning est une méthode d’apprentissage où les élèves deviennent professeurs et doivent s’expliquer entre eux les concepts qu’ils doivent apprendre. La méthode met l'accent sur l'entraide, la communauté, et la communication.</p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>La notion de groupe</summary>
            <p>Nous allons créer des groupes autonomes de ~6 personnes. Pendant 12 semaines, vous allez vous retrouver tous les matins pour transpirer ensemble. Les groupes seront hétérogènes et éclectiques : nous voulons que des polytechniciens apprennent à démarcher des restaurants avec des militaires en reconversion, des jeunes du 93, et des mères de famille. Votre groupe travaillera d'où il voudra et recevra tous les matins des projets sur lesquels plancher. Vous allez devoir travailler en équipe, et résoudre ensemble les problématiques qui vous feront face. Mais bien entendu, que seraient ces groupes sans une grande communauté de plus de 200 personnes qui englobe des devs, les alumnis, les fondateurs, et bien entendu tous les élèves ! Le but de toute cette communauté est de créér un écosystème bienveillant et où personne n'aura aucune gène à poser des questions, même les plus stupides. C'est en enseignant que l'on apprend, donc en quelque sorte la personne qui pose une question apprendra autant que la personne qui répond.</p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Le quatuor magique</summary>
            <p>Concrètement, nous allons procéder comme ceci : nous vous donnerons des ressources, qui vous permettront de réaliser des projets, que vous corrigerez entre vous. Et vous contribuerez à la communauté via des missions.
            <strong>Ressources :</strong>Nous vous donnerons des articles, des livres, des vidéos tutoriels qui vous apporteront le bagage théorique.<strong>Projets :</strong>Vous appliquerez ce bagage théorique sur des projets concrets qui occuperont une large partie du temps de la formation.<strong>Corrections :</strong>Les moussaillons se corrigeront entre eux, ce qui fait rencontrer la communauté et apporte des solutions auxquelles ils n'auraient pas pensé.<strong>Missions :</strong>Au cours de la formation, chaque moussailon devra réaliser une mission libre qui a pour but d'améliorer la communauté.</details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Notre vocabulaire</summary>
            <p><strong>Moussaillons :</strong>Ce sont les personnes suivant actuellement un parcours donné. Ils ont une certaine candeur et galèrent sur leurs navires sur les projets que l'on leur donne.<strong>Corsaires :</strong>Les vrais de vrai : ils ont terminé la formation et maintenant naviguent pour le roi là où bon leur semble. Ils méritent notre respect et celui de la communauté.<strong>Renegats :</strong>Ils n'ont pas fini la formation pour partir dans des eaux en solo. C'était soit par temps, soit par niveau, soit pour de nouvelles opportunités. Ils restent dans notre coeur ❤️</details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Les avantages du peer-learning</summary>
            <p>
              <strong>La cohésion d'équipe :</strong>Le peer-learning redonne les lettres de noblesse à l'esprit de corps, où tout le monde galère, mais personne n'est laissé au dépourvu. Les plus forts soutiennent les plus faibles dans un esprit de bienveillance, pour que le niveau global soit plus élevé. Ce sont des rencontres qu'au final l'on n'aurait jamais fait sans The Hacking Project.
              <strong>La motivation :</strong>Si se lever tous les matins pour faire un chapitre d'Open_Classrooms est impossible, le groupe donne une incentive très forte qui fait que nos taux de réussite de 60% feront pâlir d'envie d'importe quel MOOC sur terre.
              <strong>Meilleur niveau</strong>Faire des projets en équipe permet d'accomplir des tâches plus difficiles que si l'on était seuls. Les projets sont suffisamment difficiles pour qu'une personne seule n'y arrive pas, mais aidée de son équipe elle les réussira sans (trop) de difficultés. Une formation en peer-learning permettra donc d'avoir un niveau plus élevé qu'un équivalent traditionnel, tout en étant plus ludique grâce aux projets
              <strong>Réapprendre à apprendre :</strong>Notre système de ressources - projets permet de réapprendre à apprendre. Imaginez, comme ressources du jour, nous donnons 2 livres, et un projet qui met au moins 6 heures à se réaliser. Les moussaillons devront aller chercher l'information rapidement pour pouvoir l'appliquer. Au bout de deux mois à faire ceci, apprendre une nouvelle compétence rapidement deviendra une habitude
              <strong>"Team player" :</strong>Le travail en équipe est une compétence demandée dans 99% des fiches de poste sur Terre (nous cherchons encore le pourcent restant), cette compétence sera bien utile par la suite.
              <strong>Formation gratuite :</strong>Enfin, notre principe de groupes autonomes répartis partout nous permet de proposer une formation gratuite, ouverte à tous, sans restriction géographique. Proposer une éducation professionnalisante où le seul pré-requis est la motivation est très important pour nous
            </p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon working"></div>
          <details class="panel">
            <summary>Inscris-toi!</summary>
            <strong>Lien :</strong> <p>https://www.thehackingproject.org/catalogue</p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon"></div>
          <details class="panel">
            <summary>Commence la session</summary>
            <p>Et rejoins le navire en tant que moussaillon !</p>
          </details>
        </li>

    </ul>
</div>
