<form>
  <%= form_for url: {action: "create"} do |u| %>
  <div class="form-row">
    <div class="col-12 col-md-9 mb-2 mb-md-0">
      <%= u.text_field :firstname, class: "form-control form-control-lg", placeholder: "Enter your firstname..." %><br>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <br/>
  <div class="form-row">
    <div class="col-12 col-md-9 mb-2 mb-md-0">
      <%= u.text_field :lastname, class: "form-control form-control-lg", placeholder: "Enter your lastname..." %><br>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <br/>
  <div class="form-row">
    <div class="col-12 col-md-9 mb-2 mb-md-0">
      <%= u.text_field :email, class: "form-control form-control-lg", placeholder: "Enter your Email..." %><br>
    </div>
  </div>
  <br/>
  <div class="form-row">
    <div class="col-12 col-md-9">
      <button type=submit class="btn btn-primary">Submit !</button>
    </div>
  </div>
  <% end %>
</form>
