<div class="container container-body">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="https://www.markentive.fr/wp-content/uploads/2013/12/landing-page-exemple-efficace-inbound-marketing.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">First Landing page</h5>
          <p class="card-text">With subscription by email !</p>
          <a href="#" class="btn btn-primary">Go LP1!</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="http://riverwalkguide-zippykid.netdna-ssl.com/wp-content/uploads/2011/10/landinglogocolor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Second Landing Page</h5>
          <p class="card-text">❤️</p>
          <a href="#" class="btn btn-primary">Go LP2!</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="http://www.chrisalford.com/news/images/landingbw_logo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Never 2 without 3 Bro.</p>
          <a href="#" class="btn btn-primary">Go LP3!</a>
        </div>
      </div>
    </div>
  </div>
</div>
