<p data-height="735" data-theme-id="0" data-slug-hash="aGQJeX" data-default-tab="result" data-user="imassim0" data-embed-version="2" data-pen-title="[WIP] Landing Animation for BBAE" class="codepen">See the Pen <a href="https://codepen.io/imassim0/pen/aGQJeX/">[WIP] Landing Animation for BBAE</a> by Maxime FLEURY (<a href="https://codepen.io/imassim0">@imassim0</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
